<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Add new page to the CMS web application."/>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/welcome.css"
          th:href="@{/css/welcome.css}"/>
    <title>Create new page</title>
</head>

<body>

<div class="vertical-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/new">New page</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>
</div>

<div class="body">
    <p/><h2>Create new page</h2>

    <form th:method="POST" th:action="@{/new-page}" th:object="${page}">
        <label for="title">Enter title for page: </label><br/>
        <input class="input" type="text" th:field="*{title}" id="title"/><br/>
        <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div><br/>

        <label for="description">Enter description for meta information: </label><br/>
        <input class="input" type="text" th:field="*{description}" id="description"/><br/>
        <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</div><br/>

        <label for="content">Enter content:</label><br/>
        <textarea class="textarea" th:field="*{htmlContent}" id="content"></textarea><br/>
        <div class="error" th:if="${#fields.hasErrors('content')}" th:errors="*{htmlContent}">Content Error</div><br/>

        <label for="priority">Enter priority:</label><br/>
        <input type="number" th:field="*{priority}" id="priority" size="2"/><br/>
        <div class="error" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">Priority Error</div><br/>

        <label for="publishedFl">Publish page</label><br/>
        <input id="publishedFl" type="checkbox" name="publishedFl" th:checked="*{publishedFl}"/><br/>

        <input type="submit" value="Create!"/>
    </form>
</div>

</body>
</html>
